!!!
%html{:lang => 'en'}
  %head
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/style.css', :media => 'screen'}
    %meta{:name => 'generator', :content => 'jxf.me v0.1'}
    %title jxf.me
  %body
    %div#main
      = yield
    %div#sidebar
      %h2 Social Media
